[submodule "pack/plugins/start/gundo.vim"]
	path = pack/plugins/start/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "pack/plugins/start/fzf"]
	path = pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "pack/plugins/start/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/plugins/start/vim-ripgrep"]
	path = pack/plugins/start/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep
[submodule "pack/plugins/start/vim-easy-align"]
	path = pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/plugins/start/vim-airline-themes"]
	path = pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/start/vim-rhubarb"]
	path = pack/plugins/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "pack/plugins/start/vim-fireplace"]
	path = pack/plugins/start/vim-fireplace
	url = https://github.com/tpope/vim-fireplace
[submodule "pack/plugins/start/rust.vim"]
	path = pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/plugins/start/hexmode"]
	path = pack/plugins/start/hexmode
	url = https://github.com/fidian/hexmode
[submodule "pack/plugins/start/html5.vim"]
	path = pack/plugins/start/html5.vim
	url = https://github.com/othree/html5.vim
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/plugins/start/vim-endwise"]
	path = pack/plugins/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "pack/plugins/start/vim-lastplace"]
	path = pack/plugins/start/vim-lastplace
	url = https://github.com/farmergreg/vim-lastplace
[submodule "pack/plugins/start/vim-css3-syntax"]
	path = pack/plugins/start/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax
[submodule "pack/plugins/start/vim-less"]
	path = pack/plugins/start/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "pack/plugins/start/vim-snipmate"]
	path = pack/plugins/start/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "pack/plugins/start/vim-addon-mw-utils"]
	path = pack/plugins/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "pack/plugins/start/tlib"]
	path = pack/plugins/start/tlib
	url = https://github.com/tomtom/tlib_vim
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/vim-toml"]
	path = pack/plugins/start/vim-toml
	url = git@github.com:cespare/vim-toml
[submodule "pack/plugins/start/vim-dirvish"]
	path = pack/plugins/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "pack/plugins/start/vim-cljfmt"]
	path = pack/plugins/start/vim-cljfmt
	url = https://github.com/dmac/vim-cljfmt
